
header {
  background-color: var(--header-color);
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  background-color: var(--background-color);
  height: 80vh;
}

.home {
  display: flex;
}

main {
  width: 100%;
}
