.hamburger-menu {
    background: transparent;
    border: none;
    cursor: pointer;
}

.hamburger-menu button:focus {
    outline: none;
  }

.open {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.hamburger-menu button {
    background-color: unset;
    border: 0;
  }

.closed {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
