.hamburger-menu {
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 15px;
}

.hamburger-menu button:focus {
    outline: none;
  }

.open {
    transform: rotate(90deg);
    transition: transform 0.5s ease;
}

.hamburger-menu button {
    background-color: unset;
    border: 0;
  }

.closed {
  transition: transform 0.5s ease;
}