:root {
  --header-color: #fdfffe;
  --background-color: #edeeee;
  --text-color: #2d2d2e;
  --accent-color: #f3ce9b;
  --highlight-color: #4d6789;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
